<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.mapper.PartVersionMapper">

    <select id="listQuery" parameterType="com.cloud.param.PartVersionParam" resultType="com.cloud.entity.PartVersion">
        SELECT * FROM part_version
    </select>


</mapper>
