package com.cloud.service;

import com.cloud.param.${className}Param;
import ${package}.${moduleName}.${className};
import com.cloud.util.BaseServiceInterface;


/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
public interface ${className}Service  {

}